<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurguer</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <h1>DevBurguer</h1>
        <div class="linhadecorativa"></div>
    </header>
    <nav>
        <ul class="listanavegacao">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/contato">Contato</a>
            </li>
            <li>
                <a href="/api/lanches">Lanches</a>
            </li>
        </ul>
    </nav>
    <main>
        <aside>
            <input type="checkbox" name="menuburguer" id="menuburguer" class="menuburguer">
            <label for="menuburguer">
                <span class="material-symbols-outlined iconelampada">
                    lightbulb
                </span>
                <span class="material-symbols-outlined iconefechar">
                    close
                </span>
            </label>
            <form action="/sugestao" method="get" class="formsugestao">
                <h2>Sugestão</h2>
                <div class="camposform">
                    <input type="text" name="nome" id="nomelancheform" placeholder="Nome">
                    <textarea name="ingredientes" id="ingredienteslancheform" placeholder="Ingredientes"></textarea>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </aside>
        <article>
            <section class="opcaolanche">
                <div class="descricaolanche">
                    <h2>X-Salada</h2>
                    <ul class="ingredienteslanche">
                        <li>Alface</li>
                        <li>Tomate</li>
                        <li>Queijo</li>
                        <li>Hambúrguer</li>
                    </ul>
                </div>
                <div class="precolanche">
                    <p>R$20.99</p>
                </div>
            </section>
            <section class="opcaolanche">
                <div class="descricaolanche">
                    <h2 class="nomelanche">X-Salada</h2>
                    <ul class="ingredienteslanche">
                        <li>Alface</li>
                        <li>Tomate</li>
                        <li>Queijo</li>
                        <li>Hambúrguer</li>
                    </ul>
                </div>
                <div class="precolanche">
                    <p>R$20.99</p>
                </div>
            </section>
            <section class="opcaolanche">
                <div class="descricaolanche">
                    <h2 class="nomelanche">X-Salada</h2>
                    <ul class="ingredienteslanche">
                        <li>Alface</li>
                        <li>Tomate</li>
                        <li>Queijo</li>
                        <li>Hambúrguer</li>
                    </ul>
                </div>
                <div class="precolanche">
                    <p>R$20.99</p>
                </div>
            </section>
            <section class="opcaolanche">
                <div class="descricaolanche">
                    <h2 class="nomelanche">X-Salada</h2>
                    <ul class="ingredienteslanche">
                        <li>Alface</li>
                        <li>Tomate</li>
                        <li>Queijo</li>
                        <li>Hambúrguer</li>
                    </ul>
                </div>
                <div class="precolanche">
                    <p>R$20.99</p>
                </div>
            </section>
        </article>
        
    </main>
    <footer>
        <p>Desenvolvido por Gabriel Valedo</p>
    </footer>
</body>
</html>